<!-- Beneficios Star -->
<hr class="featurette-divider" id="beneficios">
<div class="row featurette">
    <div class="col-md-5">
        {%- image '@AppBundle/Resources/public/img/gifts.png' -%}
        <img class="featurette-image img-responsive center-block" src="{{ asset_url }}" alt="pricing">
        {%- endimage -%}
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Recibe <span class="text-muted" id="red-jungle">gratis.</span></h2>
        <p class="lead">Te obsequiamos 3 meses de Spotify y Netflix! para que te relajes mientras tu proyecto crece.</p>
        <a type="button" class="btn btn-info" href="#planes">Me gusta, Quiero JUNGLE!</a>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Informes <span class="text-muted" id="red-jungle">mensuales.</span></h2>
        <p class="lead">Recibe las estadísticas mensuales en tu correo, estas te permitirán saber en todo momento el estado de tus campañas digitales y tráfico web.</p>

    </div>
    <div class="col-md-5">
        {%- image '@AppBundle/Resources/public/img/ads.png' -%}
        <img class="featurette-image img-responsive center-block" src="{{ asset_url }}" alt="support">
        {%- endimage -%}
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-5">
        {%- image '@AppBundle/Resources/public/img/sky.png' -%}
        <img class="featurette-image img-responsive center-block" src="{{ asset_url }}" alt="reports">
        {%- endimage -%}
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Soporte <span class="text-muted" id="red-jungle">personalizado.</span></h2>
        <p class="lead">Ofrecemos un completo servicio de soporte vía Skype. Nuestros expertos te podrán ayudar en lo que necesites, solucionando las dudas que te pudieran surgir durante todo el proceso.</p>
        <p class="lead">Ponte en contacto con nosotros en cualquier momento.</p>
        <a type="button" class="btn btn-info" href="skype:@equipomenta?call"><span class="glyphicon glyphicon-earphone"></span> Skype</a>
    </div>
</div>
<!--/ End Beneficios-->
<hr class="featurette-divider">