{% extends 'mentalayout.html.twig' %}

{% block content %}
<hr class="featurette-divider">
<h2 class="featurette-heading">Preguntas <span class="text-muted" id="red-jungle">Frecuentes</span></h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingOne" data-toggle="collapse" href="#collapseOne">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="faq">
                    Luego de llenar el formulario de compra ¿qué pasos siguen?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>Se te enviará email con el detalle de tu plan, las modalidades de pago y el proceso de trabajo.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingTwo" data-toggle="collapse" href="#collapseTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="faq">
                    ¿Hay compromiso de permanencia en los planes?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <p>Sí, nos interesa que estés comprometido en el desarrollo de tu marca. Para eso requerimos un mínimo de 2 meses.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingThree" data-toggle="collapse" href="#collapseThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="faq">
                    ¿Pago mensual? ¿cómo funciona?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <p>Queremos que cualquier empresa pueda acceder a los planes en el modelo que más se ajuste a tu presupuesto. Tienes la opción mensual y completo.</p>
                <p>*El pago completo tiene un descuento de 5%, 7%, 10.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingFour" data-toggle="collapse" href="#collapseFour">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="faq">
                    ¿Cuáles medios de pago aceptan?
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <p>Aceptamos Depósitos bancarios BCP, Interbank, también aceptamos PayPal, aunque puede tener una demora en procesar el pago en algunas ocasiones.</p>
                <p>*No aceptamos Tarjetas de Crédito por ahora, estamos trabajando en ello. Escríbenos a <a href="mailto:equipo@menta.pe">equipo@menta.pe</a> para más detalles.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingFive" data-toggle="collapse" href="#collapseFive">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="faq">
                    ¿Cuánto cuesta en mi moneda local?
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <p>Los planes tienen un valor en dólares que fluctúa dependiendo de la tasa de cambio del día, algunos impuestos locales y cargos de conversión de tu banco. Puedes usar <a href="http://www.xe.com/" target="_blank">xe.com</a> para ver la tasa de cambio de tu país.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingSix" data-toggle="collapse" href="#collapseSix">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" id="faq">
                    ¿Entregan facturas?
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                <p>Sí, solicítala a <a href="mailto:equipo@menta.pe">equipo@menta.pe</a> *El pago mensual y completo, no incluye IGV. </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingSeven" data-toggle="collapse" href="#collapseSeven">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" id="faq">
                    Después de los dos meses quiero continuar con el trabajo ¿Qué debo hacer?
                </a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
                <p>No te preocupes, nos encargamos de renovar tu plan y sus características.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingEight" data-toggle="collapse" href="#collapseEight">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" id="faq">
                    ¿Hay ayuda personalizada?
                </a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="panel-body">
                <p>Sí, todos nuestros planes cuentan con 30min de consultoría mensual, resuelve todas tus dudas respecto a [menta Jungle].</p>
                <p>Skype (equipomenta) o a los números de contacto en horario de oficina.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="faq" id="headingNine" data-toggle="collapse" href="#collapseNine">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" id="faq">
                    Necesito servicios complementarios
                </a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body">
                <p>Cuéntanos lo que necesitas a <a href="mailto:equipo@menta.pe">equipo@menta.pe</a></p>
            </div>
        </div>
    </div>
</div>
<a href="contacto" id="help">Necesitas ayuda para elegir tu plan</a>
<span class="glyphicon glyphicon-question-sign"></span>
<hr class="featurette-divider">
{% endblock %}