{% extends 'mentalayout.html.twig' %}

{% block content %}
    <hr class="featurette-divider">
    <h2 class="featurette-heading">Formas de <span class="text-muted" id="red-jungle">Pago</span></h2>
    <span class="icon-paypal"></span>
    <span class="icon-credit-card"></span>
    <span class="icon-coin-dollar"></span>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingOne" data-toggle="collapse" href="#collapseOne">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" id="pay-title">
                        Transferencia Bancaria <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p>BANCO DE CREDITO DEL PERU</p>
                    <p>Cta.Soles: <strong>19431399970039</strong></p>
                    <p>Interbancario: <strong>00219413139997003992</strong></p>
                    <p><strong>Depositos en Ventanilla:</strong></p>
                    <p>Lima: S/. 3.50</p>
                    <p>Provincia: S/. 9.50</p>
                    <p><strong>Depositos en Agentes BCP:</strong></p>
                    <p>Lima: Gratuito</p>
                    <p>Provincia: S/. 7.50</p>
                    <p><strong>Transferencias Bancarias o Interbancarias:</strong></p>
                    <p>Por internet o cajero de Lima o Provincias: <strong>Gratuito</strong></p>
                    <p>Por ventanilla de Lima: <strong>Gratuito</strong></p>
                    <p>Por ventanilla de provincia: S/.7.50</p>
                    <a href="http://www.encuentrabcp.com/buscador/" target="_blank">(ver red de agencias y agentes BCP)</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingTwo" data-toggle="collapse" href="#collapseTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="pay-title">
                        Tarjeta de Crédito/Debito <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p>Puede utilizar tarjetas Visa, MasterCard, American Express y Discover para hacer los pagos a través de PayPal.</p>
                    <p><strong>Ingresa tus datos de tarjeta y llena el formulario de compra.</strong></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingThree" data-toggle="collapse" href="#collapseThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="pay-title">
                        Cuenta PayPal <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p>Si ya cuentas con una cuenta en PayPal, solo inicia sesión y realiza el pago.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingFour" data-toggle="collapse" href="#collapseFour">
                <h4 class="panel-title">
                    <bottom class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="pay-title">
                        Pago Efectivo <span class="glyphicon glyphicon-menu-down"></span>
                    </bottom>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <p>PagoEfectivo es una forma fácil y segura de comprar a través de Internet. Es cómodo y efectivo pues no necesita tarjeta de crédito. Solo tienes que acercarte a los establecimientos autorizados y realizar el pago a la cuenta de PagoEfectivo indicando el código de CIP.</p>
                    <p><strong>¿Dónde puedo encontrar mi código CIP?</strong></p>
                    <p>En el correo que se envía de confirmación se encuentra el código CIP.</p>
                    <p><strong>¿Dónde puedo pagar con pagoefectivo?</strong></p>
                    <p><strong>INTERBANK:</strong> Cualquier Agente Interbank, en Tiendas y Money Market de Interbank, Cajeros Global Net y Banca por Internet Interbank.</p>
                    <p><strong>BBVA:</strong> Agencias del BBVA, Agentes Express o por banca por internet del BBVA.</p>
                    <p><strong>BCP:</strong> Agencias del BCP, Agentes BCP o por banca por internet BCP. Se cobra S/. 1 por comisión.</p>
                    <p><strong>Scotiabank:</strong> Agencias de Scotiabank, Cajeros Express o por Vía Scotia en línea.</p>
                    <p><strong>Western Union:</strong> Cualquier agencia de Pago de Servicio de Western Union a nivel nacional.</p>
                    <p>Puedes comunicarte a nuestra central 7481923 Anexo 103 ó 104 para poder ayudarte.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingFive" data-toggle="collapse" href="#collapseFive">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="pay-title">
                        ¿Es seguro comprar en este sitio web? <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <p>En <a href="http://menta.pe/jungle">www.menta.pe/jungle</a> utilizamos PayPal como mediador de pagos con Tarjeta. PayPal cuenta con los más altos niveles de seguridad para proteger tu información personal y el procesamiento de tus pagos; tu información se registra en servidores seguros.</p>
                    <p>Tu información de pago está cifrada con el sistema de seguridad SSL de 256-bit, siendo este el sistema de cifrado y protección de datos más seguro.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="pay" id="headingSix" data-toggle="collapse" href="#collapseSix">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" id="pay-title">
                        ¿Qué tengo que hacer si quiero factura? <span class="glyphicon glyphicon-menu-down"></span>
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <p>Si necesitas solicitar una factura por tu compra, debes enviarnos un email a <a href="/cdn-cgi/l/email-protection#ddb8aca8b4adb29db0b8b3a9bcf3adb8"><span class="__cf_email__" data-cfemail="f29783879b829db29f979c8693dc8297">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
                        /* <![CDATA[ */!function(){try{var t = "currentScript"in document?document.currentScript:function(){for (var t = document.getElementsByTagName("script"), e = t.length; e--; )if (t[e].getAttribute("cf-hash"))return t[e]}(); if (t && t.previousSibling){var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail"); if (a){for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2)i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i); e = document.createTextNode(e), c.parentNode.replaceChild(e, c)}}} catch (u){}}(); /* ]]> */</script></a> e indicar los datos de RAZÓN SOCIAL, RUC, DIRECCIÓN FISCAL.</p>
                </div>
            </div>
        </div>
    </div>
    <a href="contacto" id="help">Necesitas ayuda para elegir tu plan</a>
    <span class="glyphicon glyphicon-question-sign"></span>
    <hr class="featurette-divider">
{% endblock %}
