{% extends 'mentalayout.html.twig' %}

{% block content %}
    <hr class="featurette-divider">
    <h2>POLÍTICA DE PRIVACIDAD</h2>
    <h4>Última Actualización: 15.06.2015</h4>
    <h2>INTRODUCCION</h2>
    <p>Bienvenido a www.menta.pe/jungle, un producto de MENTA PUBLICIDAD S.A.C. ("menta.pe").</p>
    <p>Respetamos su privacidad y queremos que sepa acerca de la información que recolectamos sobre usted y qué hacemos con ella. La siguiente Política de Privacidad fue creada para ayudarlo a entender cómo será usada la información que usted deja en www.menta.pe/jungle.</p>
    <h2>COMO CONTACTARNOS</h2>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctanos en equipo@menta.pe ó Jirón Tizón y Bueno 764 - Jesús María</p>
    <h2>SEGURIDAD</h2>
    <p>Usamos métodos razonables de seguridad para proteger la data que reside en nuestros servidores. Sin embargo, ningún sistema de seguridad es impenetrable, debido a esto, no le podemos garantizar la seguridad de nuestros servidores. Es también posible que la información que usted nos provea pueda ser interceptada durante la transmisión de datos.</p>
    <p>Cada vez que usted le dé a www.menta.pe/jungle información sensible (ejemplo: emails, números de tarjeta de crédito, etc), www.menta.pe/jungle tomara medidas comerciales razonables para proteger dicha información y establecer una conexión segura con nuestro el Navegador Web.</p>
    <p>www.menta.pe/jungle emplea una tecnología industrial estándar conocida como secure-socket-layer ("SSL") para proteger la transmisión de información de pago al Website. Puede usted chequear la seguridad de su conexión tras observar la barra de direcciones en su ventana de Navegador. Cuando usted acceda un servidor protegido por SSL, los primeros caracteres de la dirección cambiaran de "http" a "https."</p>

    <hr class="featurette-divider">
{% endblock %}